.sticky{
    word-wrap:break-word;
    align-items:center;
    font-size:20px;
    display: inline-block;
    justify-content:center;
    font-family: 'Gloria Hallelujah', cursive;
    color:rgba(24, 18, 18, 0.751);
    padding: 10px;
    width:250px;
    height: min-content;
    margin: 10px;
    background-color: #d4fcff;
    box-shadow: -3px 5px 7px -1px rgba(0,0,0,0.47);
}

.sticky > ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.delete-btn:hover {
    cursor: pointer;
}

.like-button{
    cursor: pointer;
}
