#cards-list-label{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-color:antiquewhite;
    margin:10px;
    padding:10px;
    height:min-content;
    box-shadow: -3px 5px 7px -1px rgba(0,0,0,0.47);
    -webkit-box-shadow: -3px 5px 7px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -3px 5px 7px -1px rgba(0,0,0,0.47);
}